#overlay_login {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ddd;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading_login {
    position: absolute;
    top: 50%;
    left: 50%;
	padding:10px;
	background:#000;
	border-radius:5px;
    margin: -33px 0 0 -40px;
	z-index: 99999;
}
.btn-group{
    z-index: 9998;
}
.bar-bg {
	background: #e0fad5;
	border-bottom: 1px solid #b9e48b;
	border-top: 1px solid #b9e48b;
	color: #333;
    font-size: 13px;
    font-weight: bold;
    height: 32px;
	line-height:25px;
    vertical-align: middle;
    padding-left:5px;
}


/* login box top style */
.wrapper-userprofile {
    /* Size & position */
    position: relative;
    width: 150px;
    margin: 0;
    padding: 12px 4px;
	font-size:14px;
    background: #fff;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.wrapper-userprofile:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #ccc transparent;
}
.wrapper-userprofile .profile_menu_drodown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* Styles */
    background: #3f6690;
    border-radius: 0 0 5px 5px;
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    width:100%;
    display:none;
}
.wrapper-userprofile .profile_menu_drodown {
	margin:0px;
	padding:0px;
}
.wrapper-userprofile .profile_menu_drodown li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 0px 10px 34px;
    transition: all 0.3s ease-out;
}
.wrapper-userprofile .profile_menu_drodown li:last-of-type a {
    border: none;
}
.wrapper-userprofile .profile_menu_drodown li:hover a {
    color: #fff;
}
.wrapper-userprofile.active {
    background: #3f6690;
    box-shadow: none;
    border-bottom: none;
    color: #fff;
	border-radius: 5px 5px 0px 0px;
}
.wrapper-userprofile.active:after {
    border-color: #ddd transparent;
}
.wrapper-userprofile.active .profile_menu_drodown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
	z-index:1;
}
ul.profile_menu_drodown{
	padding:0px; list-style-type:none;padding:0px;margin:0px;
}
ul.profile_menu_drodown li.logout a{
	background:url(../../assets/images/profile_logout_icon.png) no-repeat 10px center;
}
ul.profile_menu_drodown li.logout a:hover{
	background:url(../../assets/images/profile_logout_icon.png) no-repeat 10px center #3a5d84;
}
#companyname{color:#ff0000;}
#empName{
    max-width: 105px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}