<div id="overlay_login"><img id="loading_login" src="assets/images/portico-loader.gif"></div>
<div style="height:8px;background:url('assets/images/topbg.jpg') repeat-x scroll left top;"></div>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody><tr>
        <td width="178">
			<div>
				<img src="assets/images/Portico_logo_documents.gif" width="178" height="60">
			</div>
		</td>
		<td id="log_bg" style="padding-top:4px;" width="82%" valign="top">			
			<div id="company_name" style="float:left;padding-top: 25px;">
				<!-- <h2 id="companyname"></h2> -->
				<select id="companylist" onChange="selCompany(this);"></select>
			</div>
			<div style="float:right;">
				<div style="float:left;padding-top: 8px;">
					<img src="assets/images/photo.png" alt="" style="border-radius: 50%;height: 34px;margin-right: 10px;width: 34px;" align="absmiddle">
				</div>
				<div style="float:right;">
					<table class="loginbg" width="100%" border="0">
						<tbody><tr>
							<td style="PADDING-LEFT:5px;padding-top:5px;" valign="top">
								<div tabindex="1" class="wrapper-userprofile" id="userprofilename">
									<div id="empname"></div>
									<ul class="profile_menu_drodown" style="display: none;">
										<li class="logout">											
											<a routerLink="/logout" routerLinkActive="active" id="logOut">Log out</a>
										</li>								
									</ul>
								</div>
							</td>
						</tr></tbody>
					</table>
				</div>	
			</div>
		</td>
</tr></tbody>
</table>
<div class="bar-bg">
	<div class="btn-group" dropdown>
		<a routerLink="#" id="button-basic" dropdownToggle type="button" class=""  style="text-decoration:none">
		  Menu <img src="assets/images/menu-arrow.png" alt="" border="0" align="absmiddle">
	</a>
		<ul  id="dropdown-basic" *dropdownMenu class="dropdown-menu"	role="menu" aria-labelledby="button-basic">
		  <li *ngFor="let item of menuList" role="menuitem"><a class="dropdown-item" routerLink="/{{item.pagelink}}" routerLinkActive="active">{{item.description}}</a> <!--href="{{item.pagelink}}"-->
		  </li>
		</ul>
		<a class="dropdown-item" routerLink="/table" routerLinkActive="active">TableData</a>
	</div>		
</div>
