<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
            <td width="100%" valign="top">
               <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                  <td class="style6" style="padding-LEFT:20px" width="950" valign="top">
                  <span class="style9"></span></td>
                </tr>
                <tr>
                <td class="style6" width="100%" valign="top">
                    <table style="width:98%;padding-left:15px;" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody><tr>
                        <td valign="middle">   
                        <div style="margin-top:10px;margin-bottom:10px;">

                            <div class="docflowaData" style="display:none">
                                <!-- <div class="content_first_row" style="padding:6px 0px;">
                                 <select id="companylist" onChange="selCompany(this);">
                                 </select>
                                 </div> -->
                                 <div style="border:solid 1px #ddd;margin-bottom:10px;border-radius:3px;padding:5px 0px 5px 10px;color:#333;">
                                        <label>From Date </label>&nbsp;
                                        <input style="height:30px;" name="fromdate" id="fromdate" bsDatepicker [(bsValue)]="fromdate" value="{{ fromdate | date:'dd/MM/yyyy' }}" readonly> &nbsp;
                                        <label>To Date </label>&nbsp;
                                        <input style="height:30px;" name="todate" id="todate" bsDatepicker [(bsValue)]="todate" value="{{ todate | date:'dd/MM/yyyy' }}" readonly>&nbsp;
                                        <select name="sortedby_venue" id="sortedby_venue" data-mini="true">
                                           <option value="">Select Venue</option>
                                           </select>&nbsp;
                                           <a href="#" (click)="myDashboard()"><img src="assets/images/go.png" alt="" align="absmiddle"></a>
                                 </div>
         
                                <div class="content_first_row" style="padding-top:5px;">
                                  <table style="width:100%" border="1" cellpadding="3" cellspacing="0" class="tb_record" id="last30DaysStatusList">
                                  </table>
                                </div>
                                <div class="content_first_row" style="padding-top:5px;">
                                    <p style="margin:0;padding-top:10px;"><strong>Invoice Approval Status (Total: <span id="graphTotalCount">00</span>)</strong></p>
                                    <!--<div id="docChart" style="width:300px;height:150px;margin:auto;text-align:center;padding-top:10px;"></div> 
                                    <div id="docChartNoData" style="display:none;padding:5px 0px;"></div> -->
                                </div>  
                                <div class="content_first_row" style="padding-top:0px;">
                                <p style="margin:0"><strong><span id="documentCategoryByVenueLabel"></span></strong></p><!-- Document category count by Venue -->
                                   <div id="docCatCountVenueNoData" style="display:none;padding:5px 0px;"></div>
                                   <table border="1" cellpadding="3" cellspacing="0" class="tb_record" id="docCatCountVenue" style="width:100%;display:none;">
                                    <tr>
                                      <td bgcolor="#b5cee7"><strong>Venue</strong></td>
                                      <td bgcolor="#b5cee7"><strong>Category</strong></td>
                                      <td bgcolor="#b5cee7"><strong>Count</strong></td>
                                    </tr>
                                  </table>
                                 
                                </div>
                              </div>

                              <div class="stoargeData" style="display:none;">
                                <div class="content_first_row">
                                 <select id="companylistStorage" onChange="selCompany(this);">
                                 <option value="">Select Company</option>
                                 </select>
                                 </div>
                                 <div style="border:solid 1px #ddd;margin-bottom:10px;border-radius:3px;padding:5px 0px 5px 10px;color:#333;">
                                        <label>From Date </label>&nbsp; <input style="height:30px;" name="fromdate" id="fromdate" bsDatepicker readonly> &nbsp;
                                        <label>To Date </label>&nbsp; <input style="height:30px;" name="todate" id="todate" bsDatepicker readonly>&nbsp;
                                        <select name="sortedby_venue" id="sortedby_venue" data-mini="true">
                                           <option value="">Select Venue</option>
                                           </select>&nbsp;
                                           <a href="#"  (click)="myDashboard()"><img src="assets/images/go.png" alt="" align="absmiddle"></a>
                                 </div>
         
                                <div class="tblDataStorage" style="display:none;">
                                    <div class="content_first_row" style="padding-top:5px;">
                                    <p style="margin:5px 0px;"><strong><span id="supplierByYearLabel"></span></strong></p>
                                      <div id="supplierByYearNoData" style="display:none;padding:5px 0px;"></div>
                                      <div style="height:190px;overflow:auto;">
                                      <table border="1" cellpadding="3" cellspacing="0" class="tb_record" id="supplierByYear" style="display:none;">
                                        <tr>
                                          <td bgcolor="#b5cee7"><strong>Venue</strong></td>
                                          <td bgcolor="#b5cee7"><strong>Category</strong></td>
                                          <td bgcolor="#b5cee7"><strong>Count</strong></td>
                                        </tr>
                                      </table>
                                      </div>
                                    </div>
                                    <div class="content_first_row" style="padding-top:2px;">
                                        <table border="0" cellpadding="5" cellspacing="0" class="tb_record">
                                          <tr>
                                            <td class="showAddButton" style="display:none;width:50%">
                                              <a class="btn_main" data-role="button" href="addDocument.html" rel="external" >Add Document</a>
                                            </td>
                                            <td class="showListButton" style="display:none;">
                                              <a class="btn_main" data-role="button" href="otherDocuments.html" rel="external">View List</a>
                                            </td>
                                          </tr>
                                        </table>
                                    </div>
                                    <div class="content_first_row" style="padding-top:5px;">
                                    <p style="margin:5px 0px;"><strong><span id="supplierByVenueLabel"></span></strong></p> 
                                      <div id="supplierByVenueNoData" style="display:none;padding:5px 0px;"></div>
                                      <div style="height:190px;overflow:auto;">
                                      <table border="1" cellpadding="3" cellspacing="0" class="tb_record" id="supplierByVenue" style="display:none;">
                                      <thead>
                                        <tr>
                                          <td bgcolor="#b5cee7"><strong>Venue</strong></td>
                                          <td bgcolor="#b5cee7"><strong>Supplier Name</strong></td>
                                          <td bgcolor="#b5cee7"><strong>Count</strong></td>
                                        </tr>
                                        </thead>
                                      </table>
                                      </div>
                                    </div>
                                </div>
                                <div class="graphDataStorage" style="display:none;">
                                    <div class="content_first_row" style="padding-top:2px;">
                                        <p style="margin:0;padding-top:10px;"><strong><span id="graphHeading"></span> (Total: <span id="stgraphTotalCount">00</span>)</strong></p>
                                        <div id="storageGraph" style="width:300px;height:150px;margin:auto;text-align:center;padding-top:10px;"></div> 
                                        <div id="storageGraphNoData" style="display:none;padding:5px 0px;"></div>
                                    </div>
                                    <div class="content_first_row" style="padding-top:2px;">
                                        <table border="0" cellpadding="5" cellspacing="0" class="tb_record">
                                          <tr>
                                            <td class="showAddButton" style="display:none;width:50%">
                                              <a class="btn_main" data-role="button" href="addDocument.html" rel="external" >Add Document</a>
                                            </td>
                                            <td class="showListButton" style="display:none;">
                                              <a class="btn_main" data-role="button" href="otherDocuments.html" rel="external">View List</a>
                                            </td>
                                          </tr>
                                        </table>
                                    </div>
                                    <div class="content_first_row" style="padding-top:5px;">
                                     <p style="margin:0;padding-top:5px;padding-bottom:2px;"><strong><span id="titleLastHeading"></span></strong></p>
                                    <div style="display:none;padding-top:2px;" class="noTotalLastCount"></div>
                                    <ul data-role="listview" data-inset="true" id="last_list_view">
                                    </ul>
                                    </div>
                                 </div>
                              </div>  
                              <div class="clr"></div>                            

                          </div>
                        <div style="clear:both;"></div>                                      
                        <div id="loading" style="display:none;">
                            <img id="loading-image" alt="Loading..." src="assets/images/portico-loader.gif">
                        </div>
                    </td></tr>
                </tbody></table>
              </td>
            </tr>
            </tbody></table>
        </td>
      </tr>
    </tbody></table>