<p>&nbsp;</p>
<div class="heading">
  <div style="float:left;">
    <h3 style="text-align:left;" class="csc-firstHeader">Search for Invoices - Pending</h3>
  </div>
   <div style="float:right;padding-top:4px;">
    <td style="text-align:right" nowrap=""><span style="padding-right:10px;text-align:left;font-size:12px; color:#434448;">... Showing all documents</span><a href="#TB_inline?height=auto&amp;width=850&amp;inlineId=searchbox" title="" class="thickbox"><img src="assets/images/search_button.png" style="border:0px" title="Search" align="absmiddle"></a>
      <a href=""><img src="assets/images/showall_button.png" style="border:0px" title="Show All Records" align="absmiddle"></a>
    </td>
   </div>
  </div>

  <div class="content_row">
   
   
    <p>&nbsp;</p>
    <div style="display:none;text-align:center;padding-top:20px;" class="noinvoiceListdata"></div>
       
    <table class="tblinvoicedetails tb_record" cellpadding="5" cellspacing="0" border="1" style="border-color:#f4f4f4;border-collapse:collapse;width:100%;">
      <tr class="tbltrcaption"></tr>
      <tr class="tbltrdata"></tr>
    </table>

   


    <div class="ui-controlgroup-controls pageNavigation" style="display:none;text-align: center;">
      <a href="#" style="display:inline-block;padding: 10px 30px;" onClick="pagenavigation('prv')" class="prev ui-btn ui-btn-icon-notext ui-icon-carat-l ui-first-child">Previous</a>
      <a href="#" style="display:inline-block;padding: 10px 30px;" onClick="pagenavigation('nxt')" class="next ui-btn ui-btn-icon-notext ui-icon-carat-r ui-last-child">Next</a>
      <input type="hidden" value="" id="myuids" /><a href="#" id="approveAllbtn" style="display:inline-block;padding: 10px 20px !important;font-size: 12px !important;" onClick="approveAll()" class="ui-btn btn_main">Approve All</a>
    </div>
   

</div>